* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
    body 
{
    font-family: georgia, times, "times new roman", serif;
	background-color:rgb(54,67,113);
}
#wrap
{
	margin: 1em 5%;
	background-color: rgb(176,207,255);
    border: 1px solid #333;
}
#nav
{
	float: left;
	width: 25%;
    padding: 1em;
    background-color: rgb(176,207,255);
}
#nav h2
{ 
	margin-top: 0; 
}
#content
{
	padding-top: 1em;
    background-color: rgb(91,127,189);
    width: 75%;
    margin-left: 25%;
    text-align: center;
}
#content ul {
    list-style: none;
}  
ul {
    margin: 15px;
    line-height: 1.5;
}
  
  #nav li {
    list-style-position: inside;
}
